# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.game jaaj 5_.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Game jams\12_2020\game jaaj 5_\.idea\.idea.game jaaj 5_\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
